<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603354294998-1dsbk80oglaej178mk1lhj34dc2d4l8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603354294998-1dsbk80oglaej178mk1lhj34dc2d4l8j</string>
	<key>API_KEY</key>
	<string>AIzaSyAyw4BDQ3JuQMvqrG7Z09LfHtZbaqttcQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>603354294998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joeveverka.NoodlesNThings</string>
	<key>PROJECT_ID</key>
	<string>noodlesnthings-7b6db</string>
	<key>STORAGE_BUCKET</key>
	<string>noodlesnthings-7b6db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603354294998:ios:cc9f6761fa36af8ea2b777</string>
</dict>
</plist>